# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

PORT=3000
NODE_ENV=development

# Database (SQLITE for local preview, change to mysql for production)
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=gestao_condominio
DB_DIALECT=sqlite
DB_STORAGE=./backend/database/database.sqlite

# JWT
JWT_SECRET=super_secret_university_key_2024

# Socket / App URL
APP_URL=http://localhost:3000
